.u-section-1 {
  background-image: linear-gradient(#e68387, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-1 .u-group-1 {
  width: 541px;
  min-height: 586px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 124px 89px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 23px 95px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 75px 0 0;
}

.u-section-1 .u-form-1 {
  height: 284px;
  width: 406px;
  margin: 39px 0 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 349px;
  object-position: 43.46% 50%;
  margin: -504px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 105px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}