.u-section-1 {
  background-image: linear-gradient(#db545a, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 1275px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 46px 524px 0 182px;
}

.u-section-1 .u-form-1 {
  height: 1079px;
  margin: 18px 265px 60px 175px;
}

.u-section-1 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-label-14 {
  letter-spacing: 0px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 424px;
    margin-left: 75px;
    font-style: normal;
  }

  .u-section-1 .u-form-1 {
    margin-right: 165px;
    margin-left: 75px;
    width: 700px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}