#home_image{

    opacity: 0.2;
    position: absolute;
}
.container{

    position: absolute;
}
#navigation{

    position: relative;
    top: 10%;
    left: 600%;
    color: white;
    padding: 5px 7px;
}

#logo{
    
    position: relative;
    top: 10%;
    left: 20%;
    opacity: 1;

}